{{- if .Site.Params.valine.enable -}}
<script src="https://cdn.jsdelivr.net/npm/@waline/client"></script>
<div id="waline"></div>
<script>
  new Waline({
    el: '#waline',
    serverURL: 'https://waline-6nnvgh3xx-caiwangqin.vercel.app/',
    lang: '{{ .Site.Language.Lang }}',
    copyright: true,
    login: 'enable',
    dark: 'auto',
    meta: ['nick','mail','link'],
    requiredMeta: {{ .Site.Params.waline.requiredFields }},
    notify: '{{ .Site.Params.waline.notify }}', 
    verify: '{{ .Site.Params.waline.verify }}', 
    avatar:'{{ .Site.Params.waline.avatar }}', 
    visitor: '{{ .Site.Params.waline.visitor }}'
  });
</script>
{{- end -}}